/* GLOBAL */

html {
    word-break: break-word;
}

footer {
    text-align: center;
    display: block;
    font-size: 25px;
    margin: 5%

}

.instalogo,
.linkedinlogo,
.fblogo {
    max-width: 25px;
    border: none;
}

.tekstbox1 {
    background-image: url(/images/sky2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600 border: 5px solid #000;
    text-align: center;
    margin: 13px
}

.imgcenter {
    display: block;
    margin: 0 auto;
}

.tekst {
    font-size: 25px;
    color: darkorange;
    font-family: 'Times New Roman'
}

img {
    border: 5px solid #000;
    margin: 5px;
}

.logo {
    font-family: 'EDO SZ';
    color: darkorange;
    font-size: 140px;
}

.forsideoverskrift {
    font-size: 50px;
    color: darkorange;
    font-family: 'EDO SZ';
    margin: 50x;
    text-align: center;
}


/* menu */

nav {
    display: flex;
    justify-content: center;
    border: 5px solid #000;
    text-align: center;
    margin: 5px
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

li {
    display: inline;
}

li a,
.dropbtn {
    display: inline-block;
    color: darkorange;
    font-size: 140%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: beige;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* menu slut - lavet vha linket: https://www.w3schools.com/css/css_dropdowns.asp */


/* box */

.myboxforside {
    min-height: 450px;
    border: 5px solid #000;
    text-align: center;
    margin: 13px
}

.myboxommig {
    min-height: auto;
    border: 5px solid #000;
    text-align: left;
    margin: 13px
}

.myboxoverskrifter {
    min-height: auto;
    border: 5px solid #000;
    text-align: center;
    margin: 13px
}

.billedephotoshop img {
    width: 80%;
    display: block;
    margin: auto;
}


/*box slut */


/*tekst i om mig*/

.tekstommig {
    font-size: 28px;
    color: black;
    font-family: 'Times New Roman'
}


/*tekst i om mig slut*/


/* box indhold */


/*teksten i billedet */

.bgforside {
    background-image: url(/images/sky2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    
    
}

.bgsider {
    
 background-color: aliceblue;
    
}

@media screen and (max-width:800px) {
    body {}
    img {
        display: block;
        margin: 0 auto
    }
}

.ommigflex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
}

.mig1 {
    flex: 1;
    width: 100%;
    height: auto;
    align-self: center;
}

.mig1tekst {
    flex: 1;
}

.mig2 {
    flex: 1;
    width: 100%;
    height: auto;
    align-self: center;
}

.mig2tekst {
    flex: 1;
}

.instalogo,
.linkedinlogo,
.fblogo {
    flex: 1;
}

@media screen and (min-width:801px) {
    body {}
    .forstortimg {
        max-width: 35%;
    }
    .ommigflex {
        flex-direction: row;
    }
    .mig1 {
        flex: 1;
        width: 100%;
    }
    .mig1tekst {
        flex: 3;
    }
    .mig2 { 
        flex: 1;
        width: 100%;
    }
    .mig2tekst {
        flex: 3;
    }
    .instalogo,
    .linkedinlogo,
    .fblogo {
        flex: 1;
    }
}


/* box indhold slut */


/* om mig */


/* om mig slut */


/* photoshop */


/* photoshop slut */
